/*  Imports */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

/*  Variables */
:root{
    /* Spacers - I really like this concept! */
    --sp1: 8px;
    --sp2: 16px;
    --sp3: 32px;

    /* Colours */
    --surface-color: #2F303A;
    --primary-color: #DDDDDD;
    --logo-color: #FFFFFF;
    --accent-1-color: #01579B;
    --accent-2-color: #1E88E5;
    --accent-3-color: #ffa726;
    --error-color: #B00020;

    --base-font-size: 16px;

    --content-width: 1200px;
    --nav-width:100%;

    --default-drop-shadow: 3px 3px 5px 2px rgba(0,0,0,0.57);
}

/*  Common Styles */
* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    margin: 0px;
    background-color: var(--surface-color);
    color: var(--primary-color);
    font-size: var(--base-font-size);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
    margin-top: var(--sp1);
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

nav {
    color: var(--surface-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--nav-width); 
    padding: 0px var(--sp2);
    position: sticky;
    top: 0;
    box-shadow: var(--default-drop-shadow);
}

nav p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

div {
    margin: 0px;
    padding: 0px;
}

footer {
    color: var(--surface-color);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: -webkit-sticky;       /* safari apparently? */
    position: sticky;
    bottom: 0;
    width: var(--nav-width);
    box-shadow: var(--default-drop-shadow);
}

/* Classes */

.debug-ln {
    border: 1px solid red;
}

.social_link {
    height: 40px;
    margin: var(--sp1) var(--sp2);
}

.nav_menu_button {
    padding: var(--sp1) var(--sp2);
    border-bottom: 10px solid var(--primary-color);
}

.nav_menu_button a {
    color: inherit;
    text-decoration: none;
}

.nav_menu_button_active:hover {
    border-bottom: 10px solid var(--surface-color);
}

/* Ids */
#logo p {
    font-family: 'Bungee', sans-serif;
    font-size: 4.5em;
    line-height: 1.0em;
}

#nav_menu {
    display: flex;
    align-items: center;
}

#footer_identity {
    margin: 0 var(--sp2) var(--sp1) var(--sp2);
    text-align: center;
}

#nav_social_links {
    transition: ease-in-out all 0.2s;
}

@media only screen and (max-width: 800px) {
    #nav_social_links {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #nav_social_links {
        display: none;
    }

    nav p {
        font-size: 1.1em;
    }
    
}